<h1>
    Boys, good work
</h1>
<h2>
    Now Playing
</h2>

{{#each genres}}
    <div>
        <h2>{{this.title}}</h2>
    </div>
    <div>
        {{#each ../movies}}
            {{#compare ../this.id this.genre_ids }}
                <div>
                    <a href="/movies/{{this.id}}">
                        <img src="https://image.tmdb.org/t/p/w500/{{this.poster_path}}" alt="{{this.original_title}}">
                    </a>
                </div>
            {{/compare}}
        {{/each}}
    </div>
    <br>
{{/each}}
