<!-- views/reviews-new.handlebars -->

<form method="POST" action="/reviews">
    <fieldset>
        <legend>New Review</legend>
        <!-- Title -->
        <p>
            <label for="title">Title</label><br>
            <input type="text" name="title" />
        </p>
    </fieldset>

    <!-- Button -->
    <p>
        <button type="submit">Save Review</button>
    </p>
</form>s
