<!-- reviews-index -->
<h1>
    Reviews
</h1>

<a href="/reviews/new">
    New Review
</a>

{{#each reviews}}

  <h2>
      {{this.title}}
  </h2>

  <h4>
      {{this.movieTitle}}
  </h4>

  <rating>
      {{}}

{{/each}}
title: String,
movieTitle: String,
rating: String,
description: String
