<!-- views/reviews-new.handlebars -->

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="/reviews">
          <fieldset>
            <legend>New Review</legend>

            <p>
              <label for="review-title">
                  Title:
              </label>
              <br>
              <input id="review-title" type="text" name="title" onchange="save_title()"/>
            </p>

            <p>
              <label for="movie-title">
                  Movie:
              </label>
              <br>
              <input id="movie-title" type="text" name="movieTitle" onchange="save_movie()"/>
            </p>

            <p>
                <label for="movie-rating">
                    Rating:
                </label>
                <select id="movie-rating" name="rating" onchange="save_rating()">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </p>

            <p>
                <label for="review-description">
                    Write Here:
                </label>
                <br>
                <textarea id="review-description" type="text" name="description" rows="5" onchange="save_desc()"/></textarea>
            </p>

          </fieldset>

          <!-- BUTTON -->
          <div class="form-group">
              <button class="btn btn-primary" type="submit">
                  Save Review
              </button>
          </div>

        </form>
    </div>
</div>

<script>

function save_title() {
    var title = document.getElementById("review-title").value

    localStorage.setItem("review-title", title)
    console.log(title);
}

function save_movie() {
    var movie = document.getElementById("movie-title").value

    localStorage.setItem("review-movie", movie)
    console.log(movie);
}

function save_rating() {
    var number = document.getElementById("movie-rating").value
    var rating = Number(number)

    localStorage.setItem("review-rating", rating)
    console.log(rating);
}

function save_desc() {
    var desc = document.getElementById("description-text").value

    localStorage.setItem("review-description", desc)
    console.log(desc);
}

</script>
